<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nossa história</title>
    <link rel="stylesheet" href="../style-global.css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="../Components/Header/header.css" />
    <link rel="stylesheet" href="../Components/Footer/footer.css" />
    <link rel="shortcut icon" href="../images/logo-verde.png" type="image/x-icon" />
</head>

<body>
    <header id="header">
        <script type="module" src="../Components/Header/header.js"></script>
    </header>
    <main>
        <section id="top-section">
            <div>
                <div class="title-container-white">
                    <h1 class="title-page-white">
                        Quem somos<img class="img-title" src="../images/logo-branco.png" alt="" />
                    </h1>
                    <div style="width: 140px" class="black-line"></div>
                </div>
                <p id="p-who-we-are">
                    &nbsp;&nbsp;&nbsp;&nbsp;Acreditamos no potencial e no poder da sustentabilidade, como ampliadora de consciência. Somos no total, cerca de 26 unidades espalhadas pelo Brasil. Chegamos a mais de 120 milhões de consumidores, por meio da venda direta em nossas
                    lojas. Mais de 60 mil brasileiros, nos conheceram através da divulgação de nossas mídias sociais.
                </p>
                <div class="title-container-white">
                    <h1 class="title-page-white">
                        Equipe<img class="img-title" src="../images/logo-branco.png" alt="" />
                    </h1>
                    <div style="width: 70px" class="black-line"></div>
                </div>
                <div id="images-equip-container">
                    <div class="each-member-container">
                        <img src="images/beatriz.png" alt="" />
                        <h6>Beatriz</h6>
                        <p>Coordenadora</p>
                    </div>
                    <div class="each-member-container">
                        <img src="images/rafaelly.png" alt="" />
                        <h6>Rafaelly</h6>
                        <p>Marketing Digital</p>
                    </div>
                    <div class="each-member-container">
                        <img src="images/thiago.png" alt="" />
                        <h6>Thiago</h6>
                        <p>Engenheiro de Produção</p>
                    </div>
                    <div class="each-member-container">
                        <img src="images/jessica.png" alt="" />
                        <h6>Jéssica</h6>
                        <p>Diretora Executiva</p>
                    </div>
                </div>
            </div>
            <aside>
                <img id="black-wave" src="images/black-wave.svg" alt="black-wave" />
                <img id="logo-image" src="../images/logo-branco.png" alt="white-" />
                <h4 class="logo-text" id="logo-higher-text">SCERVINO</h4>
                <h5 class="logo-text" id="logo-smaller-text">DESDE 2012</h4>
            </aside>
        </section>
        <div id="company-values">
            <div class="each-value">
                <img src="images/ponctuality.png" alt="">
                <h4>PONTUALIDADE</h4>
            </div>
            <div class="each-value">
                <img src="images/quality.png" alt="">
                <h4>SEVIÇOS DE QUALIDADE</h4>
            </div>
            <div class="each-value">
                <img src="images/responsability.png" alt="">
                <h4>RESPONSABILIDADES</h4>
            </div>
            <div class="each-value">
                <img src="images/commitment.png" alt="">
                <h4>COMPROMETIMENTO</h4>
            </div>
            <div class="each-value">
                <img src="images/respect.png" alt="">
                <h4>RESPEITO</h4>
            </div>
            <img id="wave-under-values" src="images/Onda branca.png" alt="">
        </div>
        <section id="bottom-section">
            <div class="bottom-section" id="bottom-section-left">
                <div class="title-container-white">
                    <h1 class="title-page-white">
                        Missão
                    </h1>
                    <div style="width: 70px" class="green-line"></div>
                </div>
                <p id="p-mission">
                    &nbsp;&nbsp;&nbsp;&nbsp;Produzir produtos com qualidade, variedade, preço justo, utilizando materiais biodegradáveis, para PETS e também, investimos em móveis e itens de decoração para casas, oferecendo bem-estar, conforto e venustidade aos nossos consumidores,
                    de modo sustentável.
                </p>
                <div class="title-container-white">
                    <h1 class="title-page-white">
                        Visão
                    </h1>
                    <div style="width: 70px" class="green-line"></div>
                </div>
                <p id="p-mission">
                    &nbsp;&nbsp;&nbsp;&nbsp;Produzir produtos com qualidade, variedade, preço justo, utilizando materiais biodegradáveis, para PETS e também, investimos em móveis e itens de decoração para casas, oferecendo bem-estar, conforto e venustidade aos nossos consumidores,
                    de modo sustentável.
                </p>
                <div class="title-container-white">
                    <h1 class="title-page-white">
                        Público-Alvo
                    </h1>
                    <div style="width: 70px" class="green-line"></div>
                </div>
                <p id="p-mission">
                    &nbsp;&nbsp;&nbsp;&nbsp;Produzir produtos com qualidade, variedade, preço justo, utilizando materiais biodegradáveis, para PETS e também, investimos em móveis e itens de decoração para casas, oferecendo bem-estar, conforto e venustidade aos nossos consumidores,
                    de modo sustentável.
                </p>
            </div>
            <div class="bottom-section" id="bottom-section-right">
                <div class="image-container">
                    <img src="images/mission.png" alt="">
                </div>
                <div class="image-container">
                    <img src="images/people.png" alt="">
                </div>
            </div>
        </section>
    </main>

    <img src="../images/green-waves.svg" class="footer-img-green-wave green-wave-black-background" />
    <footer id="footer">
        <script src="../Components/Footer/footer.js"></script>
    </footer>
</body>

</html>