@import url('https://fonts.googleapis.com/css2?family=Lustria&family=Montserrat&display=swap');
:root {
    --main-green: #4aad41;
    --main-black: #2b2d3c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
}

header {
    z-index: 900;
}

button:hover {
    cursor: pointer;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.title-container {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
}

.green-line {
    height: 8px;
    width: 15vw;
    background-color: var(--main-green);
    border-radius: 20px;
}

.title-page {
    text-align: center;
}

.title {
    font-family: 'Lustria', serif;
    font-weight: normal;
    letter-spacing: 7px;
}

.title-page {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: var(--main-black);
    text-transform: uppercase;
}

.input-text {
    border: 1px solid var(--main-black);
    border-radius: 7px;
    height: 40px;
    margin-top: 2%;
    margin-bottom: 2%;
    text-indent: 10px;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.empty-star {
    color: #aaa;
}

.checked-star {
    color: orange;
}