<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCERVINO | COMPRA</title>
    <link rel="stylesheet" href="../style-global.css">
    <link rel="stylesheet" href="style-compra.css">
    <link rel="shortcut icon" href="../images/logo-verde.png" type="image/x-icon">
    <link rel="stylesheet" href="../Components/Header/header.css">
    <link rel="stylesheet" href="../Components/Footer/footer.css">
    <script src="https://kit.fontawesome.com/0ceead7302.js" crossorigin="anonymous"></script>
    <script src="script.js" defer type="module"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


    <body>

        <header id="header">
            <script type="module" src="../Components/Header/header.js"></script>
        </header>


        <main>

            <section id="section-top">

                <div id="div-compra-produto">

                    <div id="div-compra-produto-img">
                        <div id="div-compra-produto-imagens">
                            <img src="images/img-produto.png" alt="imagem-produto">
                            <img src="images/img-produto.png" alt="imagem-produto">
                            <img src="images/img-produto.png" alt="imagem-produto">
                            <img src="images/img-produto.png" alt="imagem-produto">
                            <img src="images/img-produto.png" alt="imagem-produto">
                        </div>

                        <div id="div-compra-produto-main-img">
                            <img src="images/img-produto.png" alt="imagem-principal-produto">
                        </div>
                    </div>


                    <div id="div-compra-produto-info">
                        <h1 id="title-page" class="bold">Nome do produto</h1>

                        <div id="div-compra-produto-info-precos">
                            <p class="bold price-p line-through">R$<span id="preco-produto-sem-desconto"> XX,XX</p>
                            <div id="div-compra-produto-info-preco">
                                <p id="p-preco-produto">R$<span id="preco-produto">XX,XX</span> </p>
                            <p class="bold porcentagem-desconto" id="p-porcentagem-deconto"><span id="discount-value">XX</span>% Off</p>
                        </div>
                    </div>

                    <p id="color-product" class="color-container"><i class="fas fa-circle"></i>&nbsp;<span id="color-name">Preto</span></p>

                    <div id="div-compra-produto-info-cores">
                        <div class="div-cor-produto-circulo"></div>
                    </div>

                    <button class="button-standart" id="button-buy">COMPRAR</button>
                    <button class="button-standart" id="button-add-to-cart">Adicionar ao Carrinho</button>
                </div>

                </div>


                <div id="div-frete">
                    <p id="p-title-frete">Calcular Frete</p>
                    <input type="number" name="user-cep" id="input-frete-user-cep" placeholder="digite seu CEP">
                    <p id="p-frete-user-endereco"><img src="images/icon-pin.svg"> <span id="span-frete-user-endereco">Tiradentes 4979 [Casa 6], São Cristóvão</span></p>

                    <div id="div-frete-entrega">
                        <div id="div-frete-entrega-expressa">
                            <p class="p-frete-entrega-txt">ENVIO EXPRESSO</p>
                            <p class="p-frete-entrega-prazo">2 dias úteis</p>
                            <p class="p-frete-entrega-valor">R$ <span id="valor-frete">XX,XX</span></p>
                        </div>

                        <div id="div-frete-entrega-comum">
                            <p class="p-frete-entrega-txt">ENVIO COMUN</p>
                            <p class="p-frete-entrega-prazo">7 dias úteis</p>
                            <p class="p-frete-entrega-valor">R$ <span id="valor-frete">XX,XX</span></p>
                        </div>
                    </div>
                </div>

            </section>


            <div id="div-compra-produto-descricao">
                <h3>Descrição do Produto</h3>
                <p id="descricao-produto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id facilisis orci, eget interdum ex. Cras congue molestie mi sed luctus. Nullam laoreet, sem at sollicitudin sagittis, risus urna egestas justo, at aliquet diam augue nec ipsum.
                    Aliquam ut elit arcu. Morbi luctus magna tempus, luctus erat id, suscipit nunc. Sed feugiat erat nec ornare molestie. Nullam ut lorem sed nisi rhoncus pellentesque eget quis justo. Donec vel vulputate velit, eleifend condimentum justo.
                    Praesent eget pharetra velit, non cursus diam. Vestibulum vel facilisis justo, sit amet cursus diam.</p>
            </div>


            <div id="div-produto-formas-pagamento">
                <h3>Formas de Pagamento</h3>
                <div id="div-produto-formas-pagamento-opcoes">
                    <div class="div-produto-tipo-formas-pagamento">
                        <p class="p-produto-tipo-formas-pagamento-top">BOLETO</p>
                        <img src="images/icon-boleto.svg">
                        <p class="p-produto-tipo-formas-pagamento-bottom">parcelado em 12x</p>
                    </div>

                    <div class="div-produto-tipo-formas-pagamento">
                        <p class="p-produto-tipo-formas-pagamento-top">CARTÃO</p>
                        <p class="p-produto-tipo-cartao">CRÉDITO OU DÉBITO</p>
                        <img src="images/icon-cartao.svg">
                    </div>

                    <div class="div-produto-tipo-formas-pagamento">
                        <p class="p-produto-tipo-formas-pagamento-top">CARTÃO</p>
                        <p class="p-produto-tipo-cartao">SCERVINO</p>
                        <img src="images/icon-cartao.svg">
                        <p class="p-produto-tipo-formas-pagamento-bottom">desconto de 5%</p>
                    </div>

                    <div class="div-produto-tipo-formas-pagamento">
                        <p class="p-produto-tipo-formas-pagamento-top">PIX</p>
                        <img src="images/icon-pix.svg">
                    </div>
                </div>
            </div>


            <div id="div-avaliacao-produto">
                <h3>Avaliar Produto</h3>
                <form action="">
                    <div class="rating">
                        <a href="#5" title="5 estrelas">★</a>
                        <a href="#4" title="4 estrelas">★</a>
                        <a href="#3" title="3 estrelas">★</a>
                        <a href="#2" title="2 estrelas">★</a>
                        <a href="#1" title="1 estrelas">★</a>
                    </div>

                    <div id="div-avaliacao-produto-bottom">
                        <textarea name="avaliacao-produto-texto" id="avaliacao-produto-texto" cols="30" rows="10" placeholder="Diga-nos o que achou do produto..."></textarea>
                        <button type="submit">ENVIAR</button>
                    </div>
                </form>
            </div>


            <section id="section-opinioes-produto">
                <h3>Opiniões sobre o produto</h3>
                <div id="div-nota-produto">
                    <p>4.0</p>
                    <div id="div-nota-produto-estrelas">
                        <span class="checked-star">★</span>
                        <span class="checked-star">★</span>
                        <span class="checked-star">★</span>
                        <span class="checked-star">★</span>
                        <span class="empty-star">★</span>
                    </div>
                </div>

                <div id="div-comentarios-produto">
                    <ul>
                        <li>Todas</li>
                        <li>Positivas</li>
                        <li>Negativas</li>
                    </ul>

                    <div id="div-usuario-comentario-produto">
                        <div id="div-usuario-comentario-produto-top">
                            <img src="images/icon-user.svg" alt="Imagem de Perfil">
                            <p id="p-username-comentario">@user</p>
                        </div>

                        <div id="div-usuario-comentario-produto-estrelas">
                            <span class="checked-star">★</span>
                            <span class="checked-star">★</span>
                            <span class="checked-star">★</span>
                            <span class="checked-star">★</span>
                            <span class="empty-star">★</span>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id facilisis orci, eget interdum ex. Cras congue molestie mi sed luctus. Nullam laoreet, sem at sollicitudin sagittis, risus urna egestas justo, at aliquet diam augue
                            nec ipsum. Aliquam ut elit arcu. Morbi luctus magna tempus, luctus erat id, suscipit nunc. Sed feugiat erat nec ornare molestie. Nullam ut lorem sed nisi rhoncus pellentesque eget quis justo. Donec vel vulputate velit, eleifend
                            condimentum justo. Praesent eget pharetra velit, non cursus diam. Vestibulum vel facilisis justo, sit amet cursus diam.</p>
                    </div>
                </div>
            </section>

        </main>


        <!-- <footer id="footer">
        <script src="../Components/Footer/footer.js"></script>
    </footer> -->

    </body>

</html>