<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style-global.css">
    <link rel="stylesheet" href="style-carrinho.css">
</head>
<body>

    <header>
        
    </header>

    <main>

        <h1>CARRINHO</h1>

        <div class="headerCart">

            <p>Produto</p>

            <div class="rowHeader">
                <p>Quantidade</p>
                <p>Preço</p>
            </div>

        </div>

        <div class="contentCart">

            <div class="product">
                <img src="" alt="">

                <div class="textProduct">

                    <h2><b>Nome produto -</b> Modelo</h2>

                    <div class="rowColor">
                        <img src="" alt="">
                        <h2>Rosa</h2>
                    </div>
                    <p>Código do Produto: aK971bf421</p>
                    
                </div>

            </div>

            <div class="quantity">
                <div class="slider">
                </div>
                <img id="deleteProduct" src="" alt="">
            </div>

            <div class="price">
                <p>De R$500,00</p>
                <p>Por R$450,00 ou R$375,00 á vista</p>
            </div>

        </div>

        <div class="frete">

        </div>

        <div class="pagar">
            
        </div>

    </main>

    <footer>

    </footer>
    
</body>
</html>