* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10%;
}

main{
    padding-top: 80px;
}

.title-page{
    margin-bottom: 20px;
}
#headerCart{
    width: 100vw;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #C4C4C4;
}

#headerCart p{
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #2b2d3c;
}

#headerProductCart p{
    margin-left: 100px;
}



#rowHeaderCart{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    margin-right: 200px;
    gap: 150px;
}

#contentCart{
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    border-bottom: 10px #C4C4C4 solid;
}

#contentCart h2{
    font-size: 1.5rem;
    font-family: 'Montserrat';
    color: #2b2d3c;
}

#contentCart p{
    font-family: 'Montserrat';
}


#product{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#rowProduct{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#product img{
    width: 150px;
    height: 150px;
}

#deleteProduct:hover{
    transition: 0.2s;
    transform: rotate(360deg) scale(1.1);
}

#textProduct{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

#textProduct h2{
    font-size: 1.5rem;
}

#textNameProduct{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#textProduct em{
    font-weight: bold;
}

#rowColor{
    display: flex;
    flex-direction: row;
    align-items: flex-center;
    justify-content: center;
    gap: 10px;
}
#rowColor img{
    width: 30px;
    height: 30px;
}

#qtdPrice{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

#quantity{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2b2d3c;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    gap: 5px;
}

#slider button{
    background-color:#ffffff00;
    color: white;
    font-size: 30px;
    height: 40px;
    width: 10px;
    border: none;
}

#slider input{
    border: 0 none;
    outline: 0;
    width: 50px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

#deleteProduct{
    width: 40px;
    height: 50px;
}

#price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#price p{
    max-width: 220px;
    font-size: 26px;
}

#price b{
    text-decoration: line-through;
    font-weight: normal;
}

#price .actualPrice{
    font-weight: bold;
}

#rowFretePagar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 50px;
}

#frete{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px #2b2d3c solid;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
}
 #frete h2{
     font-weight: lighter;
 }


#frete1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#frete1 input{
    border: 1px black solid;
    outline: 0;
    width: 150px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
}

#frete2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}


#envioExpresso{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#frete2 em{
    font-size: 10px;
    color: green;
}
#frete2 h3{
    font-size: 1rem;
}

#rowAdress{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#rowAdress img{
    width: 18px;
    height: 18px;
}

#envioComum{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#pagar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

#precoApagar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#precoApagar h2{
    font-size: 25px;
}

#pagar p{
    font-size: 15px;
    max-width: 250px;
}

#pagar button{
    border: none;
    outline: none;
    border-radius: 15px;
    width: 350px;
    height: 70px;
    font-size: 35px;
    color: white;
    background-color: #4aad41;
}

#footer{
    align-self: bottom;
}




@media (max-width: 1260px) {


    #headerCart{
        display: none;
    }


    #contentCart{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
    }

    #product img{
        width: 100px;
        height: 100px;
    }

    #rowColor img{
        width: 20px;
        height: 20px;
    }
    #textProduct h2{
        font-size: 0.8rem;
    }

    #textProduct b, p{  
        font-size: 0.8rem;
    }

    #textNameProduct{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 5px;
    }
    #qtdPrice{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }


    #price p{
        font-size: 0.8rem;
    }

    #quantity{
        flex-direction: column;
    }

    #rowFretePagar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0; 
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 10vh;
    }

    #subtotal{
        display: none;
    }

    #textParcelado{
        margin-bottom: 20px;
    }

    #frete{
        flex-direction: column;
    }


    #slider{
        width: 80px;
        height: 40px;
        border-radius: 20px;
    }
    
    #slider button{
        font-size: 20px;
        height: 30px;
        width: 8px;

    }
    
    #slider input{
        width: 40px;
        height: 35px;
        font-size: 20px;
        border-radius: 20px;
    }

    #deleteProduct{
        width: 20px;
        height: 25px;
    }

}


