* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

#headerCart{
    width: 100vw;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #C4C4C4;
}

#headerCart p{
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #2b2d3c;
}

#headerProductCart p{
    margin-left: 100px;
}



#rowHeaderCart{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    margin-right: 200px;
    gap: 150px;
}

#contentCart{
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    border-bottom: 5px #C4C4C4 solid;
}

#contentCart h2{
    font-size: 1.5rem;
    font-family: 'Montserrat';
    color: #2b2d3c;
}

#contentCart p{
    font-family: 'Montserrat';
}


#product{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#product img{
    width: 150px;
    height: 150px;
}
#textProduct{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

#textProduct h2{
    font-size: 1.5rem;
}

#textProduct em{
    font-weight: bold;
}

#rowColor{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
#rowColor img{
    width: 30px;
    height: 30px;
}

#qtdPrice{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-right: 50px;
    gap: 150px;
}

#quantity{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2b2d3c;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    gap: 5px;
}

#slider button{
    background-color:#2b2d3c;
    color: white;
    font-size: 30px;
    height: 40px;
    width: 10px;
    border: none;
    border-radius: 1;
}

#slider input{
    border: 0 none;
    outline: 0;
    width: 50px;
    height: 40px;
    border-radius: 15px;
    text-align: center;

}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

#deleteProduct{
    width: 40px;
    height: 50px;
}

#price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#price p{
    max-width: 220px;
    font-size: 26px;
}

#price b{
    text-decoration: line-through;
    font-weight: normal;
}

#price .actualPrice{
    font-weight: bold;
}

#row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
}

#frete{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px #2b2d3c solid;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
}
 #frete h2{
     font-weight: lighter;
 }


#frete1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#frete1 input{
    border: 1px black solid;
    outline: 0;
    width: 150px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
}

#frete2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}


#envioExpresso{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#frete2 em{
    font-size: 10px;
    color: green;
}
#frete2 h3{
    font-size: 1rem;
}
#envioComum{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#pagar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#precoApagar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#pagar p{
    font-size: 12px;
    max-width: 300px;
}


