footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--main-black);
    color: white;
    font-family: 'Montserrat', sans-serif;
    min-height: 50px;
}