footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--main-green);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#div-top {
    display: flex;
    align-items: center;
}

#div-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

#div-title img {
    width: 20%;
    margin-bottom: 2%;
}

#div-title h1 {
    color: white;
    margin-bottom: 1%;
    font-size: 2rem;
}

#div-title p {
    color: white;
}

.info-title {
    font-weight: 800;
    margin-bottom: 3vh;
    font-size: 1.2rem;
}

#div-comunication {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start space-between;
    width: 100%;
    margin-left: 10%;
    gap: 7%;
}

#div-comunication img {
    width: 1.8vw;
    margin-right: 1vw;
}

#div-comunication a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-bottom: 2vh;
    font-size: 100%;
}

#div-social-media,
#div-contact {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
}

#div-social-media {
    width: 20%;
}

#div-contact {
    width: 80%;
}

#div-social-media a,
#div-contact a {
    width: 100%;
}

#footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-black);
    font-size: 1rem;
    padding: 1%;
    margin-top: 1%;
}

@media (max-width: 700px) {
    #div-title {
        width: 100%;
    }
    #div-top {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    #div-comunication {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 10%;
        margin: 0;
    }
    #div-comunication img {
        width: 4vw;
        margin-right: 2vw;
    }
    #div-social-media,
    #div-contact {
        width: 100%;
        margin-top: 4vh;
    }
}

.footer-img-green-wave {
    width: 100%;
}

.green-wave-black-background {
    background-color: var(--main-black);
}