<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="style-global.css">
    <link rel="stylesheet" href="style-landingPage.css">
</head>
<body>
    <header id="header">

    </header>


        <main>

            <div id="container-imagemETexto">

                <div id="texto-landingPage">
                    <h1>ATLANTIS SCERVINO SUSTENTÁVEIS.</h1>
                    <p>A sustentabilidade é a abertura para o futuro. Se fecharmos, não existirá futuro.</p>
                    <button id="button-saibaMais">SAIBA MAIS</button>
                </div>
    
                <div id="image-LandingPage"><img src="images/dog-and-tree.svg" alt=""></div>
    
            </div>

            <div id="onda-main"></div>
           
        </main>

            <div id="container-categorias">
                
            </div>

    <footer id="footer">

    </footer>
</body>
</html>