<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link rel="stylesheet" href="../style-global.css" />
    <link rel="stylesheet" href="./style-landingPage.css" />
    <link rel="stylesheet" href="../Components/Header/header.css" />
    <link rel="stylesheet" href="../Components/Footer/footer.css" />
    <link rel="shortcut icon" href="../images/logo-verde.png" type="image/x-icon" />
    <script type="module" src="script.js"></script>
</head>

<body>

    <header id="header">
        <script type="module" src="../Components/Header/header.js"></script>
    </header>



    <main>
        <div id="container-imagemETexto">
            <div id="texto-landingPage">
                <h1 id="h1-nomeEmpresa-landingPage">ATLANTIS SCERVINO SUSTENTÁVEIS.</h1>
                <p>A sustentabilidade é a abertura para o futuro. Se fecharmos, não existirá futuro.</p>
                <button id="button-saibaMais" onclick="window.location.href='../page-our-history'">SAIBA MAIS</button>
            </div>

            <div id="image-LandingPage"><img src="images/dog-and-tree.svg" alt=""/></div>
        </div>

        <div id="onda-main"></div>
    </main>



    <div id="div-texto-categoria">
        <hr id="linha-categoria" />
        <p id="p-categorias-landingPage">CATEGORIAS</p>
        <p id="p-busqueOqueDesejar">BUSQUE O QUE DESEJAR</p>
    </div>



    <div id="div-categories-slider">

        <div id="div-button-left">
            <button id="button-landing-page-categories-left">
                <img src="images/category-left-arrow-icon.svg">
            </button>
        </div>


        <div id="div-categories">

            <a href="../page-vitrine/" id="a-category">
                <div id="a-category-top">
                    <img id="img-category-background" style="background-image: url(images/category-img.svg)">
                    <div id="div-category-content">
                        <p>até <span id="span-category-discount">XX</span>% OFF!</p>
                        <img src="./images/category-logo-icon.svg" id="img-category-logo">
                    </div>
                </div>
                NOME DA CATEGORIA
            </a>

            <a href="../page-vitrine/" id="a-category">
                <div id="a-category-top">
                    <img id="img-category-background" style="background-image: url(images/category-img.svg)">
                    <div id="div-category-content">
                        <p>até <span id="span-category-discount">XX</span>% OFF!</p>
                        <img src="./images/category-logo-icon.svg" id="img-category-logo">
                    </div>
                </div>
                NOME DA CATEGORIA
            </a>

            <a href="../page-vitrine/" id="a-category">
                <div id="a-category-top">
                    <img id="img-category-background" style="background-image: url(images/category-img.svg)">
                    <div id="div-category-content">
                        <p>até <span id="span-category-discount">XX</span>% OFF!</p>
                        <img src="./images/category-logo-icon.svg" id="img-category-logo">
                    </div>
                </div>
                NOME DA CATEGORIA
            </a>

            <a href="../page-vitrine/" id="a-category">
                <div id="a-category-top">
                    <img id="img-category-background" style="background-image: url(images/category-img.svg)">
                    <div id="div-category-content">
                        <p>até <span id="span-category-discount">XX</span>% OFF!</p>
                        <img src="./images/category-logo-icon.svg" id="img-category-logo">
                    </div>
                </div>
                NOME DA CATEGORIA
            </a>

            <a href="../page-vitrine/" id="a-category">
                <div id="a-category-top">
                    <img id="img-category-background" style="background-image: url(images/category-img.svg)">
                    <div id="div-category-content">
                        <p>até <span id="span-category-discount">XX</span>% OFF!</p>
                        <img src="./images/category-logo-icon.svg" id="img-category-logo">
                    </div>
                </div>
                NOME DA CATEGORIA
            </a>

            <a href="../page-vitrine/" id="a-category">
                <div id="a-category-top">
                    <img id="img-category-background" style="background-image: url(images/category-img.svg)">
                    <div id="div-category-content">
                        <p>até <span id="span-category-discount">XX</span>% OFF!</p>
                        <img src="./images/category-logo-icon.svg" id="img-category-logo">
                    </div>
                </div>
                NOME DA CATEGORIA
            </a>

            <a href="../page-vitrine/" id="a-category">
                <div id="a-category-top">
                    <img id="img-category-background" style="background-image: url(images/category-img.svg)">
                    <div id="div-category-content">
                        <p>até <span id="span-category-discount">XX</span>% OFF!</p>
                        <img src="./images/category-logo-icon.svg" id="img-category-logo">
                    </div>
                </div>
                NOME DA CATEGORIA
            </a>

            <a href="../page-vitrine/" id="a-category">
                <div id="a-category-top">
                    <img id="img-category-background" style="background-image: url(images/category-img.svg)">
                    <div id="div-category-content">
                        <p>até <span id="span-category-discount">XX</span>% OFF!</p>
                        <img src="./images/category-logo-icon.svg" id="img-category-logo">
                    </div>
                </div>
                NOME DA CATEGORIA
            </a>
    
        </div>


        <div id="div-button-right">
            <button id="button-landing-page-categories-right">
                <img src="images/category-right-arrow-icon.svg">
            </button>
        </div>

    </div>


    <img src="../images/green-waves.svg" id="footer-img-green-wave">
    <footer id="footer">
        <script src="../Components/Footer/footer.js"></script>
    </footer>
    
</body>

</html>