body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    width: 100%;
    height: 75vh;
    flex-direction: column;
    background: url(images/waves-landingPage\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#onda-main {
    display: flex;
    top: 65%;
    height: 14vh;
    width: 100%;
    background: url(images/Onda\ branca.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

#container-imagemETexto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#texto-landingPage {
    display: flex;
    flex-direction: column;
    padding: 8%;
    font-family: 'Montserrat', sans-serif;
    align-items: flex-start;
    flex-grow: 1;
}

#texto-landingPage button {
    background-color: #4AAD41;
    height: 7vh;
    width: 13vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 160%;
}

#texto-landingPage h1 {
    width: 20vw;
    font-size: 250%;
    color: white;
    margin-bottom: 6%;
}

#texto-landingPage p {
    color: white;
    width: 22vw;
    font-size: 120%;
    margin-bottom: 6%;
}

#image-LandingPage {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    margin-top: 6%;
}

#container-imagemETexto {
    display: flex;
    flex-direction: row;
}

#image-LandingPage img {
    width: 60vw;
    height: 60vh; 
}

#div-texto-categoria{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    margin-top: 10vh;
    gap: 10px;
    color:black;
    font-family: 'Montserrat', sans-serif; 
}
#div-texto-categoria p {
    width: 100%;
    text-align: center;
}
#p-categorias-landingPage{
    font-size: 1.3rem;
    font-weight: 900;
}
#p-busqueOqueDesejar{
    font-size: 2rem;
}
#div-texto-categoria hr{
   border: solid 2px var(--main-green) ;
   width: 4vw;
   border-radius: 5px;
   background-color: var(--main-green);
}




#div-categories-slider{
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
    height: 25vh;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
#div-categories-slider div{
    display: flex;
    align-items: center;
}
#div-button-left{
    height: 25vh;
    width: 20vw;
    justify-self: flex-start;
    justify-content: end;
    padding-right: 1vw;
    background-color: white;
}
#div-button-right{
    height: 25vh;
    width: 20vw;
    justify-self: flex-end;
    justify-content: start;
    padding-left: 1vw;
    background-color: white;
}
#div-categories{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25vh;
    max-width: 78vw;
    margin-left: 20vw;
    position: absolute;
    z-index: -1;
}
#div-button-left button, #div-button-right button{
    background: transparent;
    border: none;
}
#div-landing-page-categories button:focus{
    outline: none;
}
#ul-landing-page-categories-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.a-landing-page-categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    padding: 2vh;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 900;
    color: black;
}
#div-landing-page-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 17vh;
    width: 17vh;
    border-radius: 50%;
    color: white;
    background-image: url(./images/category-img.svg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
#div-landing-page-category p{
    font-size: 1rem;
    font-weight: normal;
}
#div-landing-page-category p>span{
    font-weight: 900;
    font-size: 1.5rem;
}











@media (max-width: 1630px) {
    #image-LandingPage{
        margin-top: 7%;
    }
}

@media (max-width: 1430px){
    #image-LandingPage{
        margin-top: 8%;
    }
}