body{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
main {
    display: flex;
    width: 100vw;
    height: 75vh;
    flex-direction: column;
    background: url(images/waves-landingPage\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#onda-main {
    display: flex;
    top: 65%;
    height: 14vh;
    width: 100vw;
    background: url(images/Onda\ branca.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

#container-imagemETexto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#texto-landingPage {
    display: flex;
    flex-direction: column;
    padding: 8%;
    font-family: 'Montserrat', sans-serif;
    align-items: flex-start;
    flex-grow: 1;
}

#texto-landingPage button {
    background-color: #4AAD41;
    height: 7vh;
    width: 13vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 160%;
}

#texto-landingPage h1 {
    width: 20vw;
    font-size: 250%;
    color: white;
    margin-bottom: 6%;
}

#texto-landingPage p {
    color: white;
    width: 22vw;
    font-size: 120%;
    margin-bottom: 6%;
}

#image-LandingPage {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    margin-top: 6%;
}

#container-imagemETexto {
    display: flex;
    flex-direction: row;
}

#image-LandingPage img {
    width: 60vw;
    height: 60vh; 
}

#div-texto-categoria{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    /* position: absolute; */
    z-index: 2;
    width: 30%;
  
    gap: 10px;
    color:black;
   
    font-family: 'Montserrat', sans-serif;
  
}



#div-texto-categoria p {
    font-weight: bold;
   
    width: 100%;
    text-align: center;
}

#p-busqueOqueDesejar, #p-categorias-landingPage{
    font-size: 1vw;
}


#div-texto-categoria hr{
   border: solid 2px var(--main-green) ;
   width: 10%;
   border-radius: 5px;
   
}


@media (max-width: 1630px) {
    #image-LandingPage{
        margin-top: 7%;
    }
}

@media (max-width: 1430px){
    #image-LandingPage{
        margin-top: 8%;
    }
}