body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    width: 100%;
    height: 75vh;
    flex-direction: column;
    background: url(images/waves-landingPage\(1\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#container-imagemETexto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 80px;
}

#texto-landingPage {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 8%;
    padding-top: 5%;
    align-items: flex-start;
}

#texto-landingPage h1 {
    width: 100%;
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 0;
    color: white;
    margin-bottom: 6%;
    font-family: 'Montserrat', sans-serif;
}

#texto-landingPage p {
    color: white;
    width: 70%;
    font-size: 1.5rem;
    margin-bottom: 6%;
}

#texto-landingPage button {
    background-color: #4aad41;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1rem;
    padding: 2%;
    border: none;
}


#image-LandingPage {
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-image: url(images/dog-and-tree.svg);
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
}


#white-wave {
    display: flex;
    top: 65%;
    height: 14vh;
    width: 100%;
    background: url(images/Onda\ branca.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
}


#div-texto-categoria {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    margin-top: 10vh;
    gap: 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#div-texto-categoria p {
    width: 100%;
    text-align: center;
}

#p-categorias-landingPage {
    font-size: 1.3rem;
    font-weight: 900;
}

#p-busqueOqueDesejar {
    font-size: 2rem;
}

#div-texto-categoria hr {
    border: solid 2px var(--main-green);
    width: 4vw;
    border-radius: 5px;
    background-color: var(--main-green);
}

#div-categories-slider {
    display: flex;
    align-items: center;
    height: 25vh;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    overflow: hidden;
}

#div-categories-slider div {
    display: flex;
    align-items: center;
}

#div-button-left {
    height: 25vh;
    width: 18vw;
    justify-self: flex-start;
    justify-content: end;
    position: absolute;
    z-index: 2;
    padding-right: 1vw;
    background-color: white;
}

#div-button-right {
    height: 25vh;
    width: 18vw;
    justify-content: start;
    position: absolute;
    z-index: 2;
    margin-left: 83%;
    padding-left: 1vw;
    background-color: white;
}

#div-button-left button,
#div-button-right button {
    background: transparent;
    border: none;
}


/* DIV CATEGORIES */

#div-categories {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 25vh;
    /* min-width: 80vw; */
    margin-left: 20vw;
    transition: 1s;
    overflow: hidden;
    width: calc(100vw - 16px);
}
#div-categories p{
    width: 100%;
    text-align: center;
}


/* CATEGORY ITEM */

.a-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 10vw;
    padding-top: 3%;
    padding-bottom: 1%;
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 1rem;
    color: black;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.a-category-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
}

.img-category-background {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.567);
}

.div-category-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: white;
    font-size: 0.9rem;
    margin-top: 1rem;
}

.div-category-content span {
    font-size: 1.2rem;
    font-weight: 900;
}

.img-category-logo {
    width: 70%;
}

.sliderMoveLeft {
    padding-left: 10vw;
}

.sliderMoveRight {
    padding-right: 10vw;
}

#footer-green-wave {
    display: flex;
    height: 14vh;
    width: 100%;
    background: url(../images/green-waves.svg);
    background-repeat: no-repeat;
    background-size: cover;
}





@media (max-width: 1050px){
    #texto-landingPage h1{
        font-size: 3.5vw;
    }
}

@media (max-width: 800px) {
    #container-imagemETexto{
        flex-direction: column;
    }
    #texto-landingPage p, #texto-landingPage button{
        font-size: 1rem;
    }
    #texto-landingPage {
        height: 80%;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-left: 15vw;
        padding-right: 15vw;
        text-align: center;
    }
    #texto-landingPage h1{
        font-size: 1.8rem;
        width: 100%;
    }
    #image-LandingPage {
        align-self: center;
        justify-content: center;
        width: 100%;
        margin-top: 5vh;
    }

}