<!DOCTYPE html>
<html lang=pt-BR>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCERVINO | VITRINE</title>
    <link rel="stylesheet" href="../style-global.css">
    <link rel="stylesheet" href="style-vitrine.css">
    <link rel="shortcut icon" href="../images/logo-verde.png" type="image/x-icon">
    <link rel="stylesheet" href="../Components/Header/header.css">
    <link rel="stylesheet" href="../Components/Footer/footer.css">
    <script type="module" src="./script.js" defer></script>
</head>


<body>
    <header id="header">
        <script type="module" src="../Components/Header/header.js"></script>
    </header>


    <main>

        <div id="div-banner">
            <div id="div-banner-content">
                <h1>Decoração.</h1>
                <p>Até <span id="porcentagem-desconto">XX%</span> OFF</p>
            </div>
        </div>

        <div id="white-waves"></div>

        <div id="classificacao-produto">
            <p>CLASSIFICAR POR</p>
            <div id="classificacao-produto-opcoes">
                <a>Recentes</a>
                <a>Menor preço</a>
                <a>Maior preço</a>
                <a>Melhores avaliações</a>
            </div>
        </div>


        <div id="div-catalogo-produtos">

            <!-- <a href="../page-compra" class="vitrine-produto">

                <div id="vitrine-produto-img"> 
                    <img id="img-produto" src="images/img-produto.png" alt="">  
                    <div class="acoes-produtos">
                        <img src="./images/edit.svg" />
                        <img src="./images/trash.svg" />
                    </div> 
                </div>
                <div id="vitrine-produto-info">
                    <h1>Nome do Produto - Modelo</h1>
                    <img src="images/img-nota-produto.png">
                    <div id="vitrine-produto-precos">
                        <p id="p-preco-antigo">R$ <span id="preco-antigo">XX,XX</span> </p>
                        <p id="p-porcentagem-deconto"> <span id="porcentagem-desconto">XX%</span> OFF</p>
                        <p id="p-preco-produto">R$ <span id="preco-produto">XX,XX</span> </p>
                    </div>
                </div>
            </a>
            
            <a href="../page-compra" class="vitrine-produto">
                <div id="vitrine-produto-img"> <img src="images/img-produto.png" alt=""> </div>
                <div id="vitrine-produto-info">
                    <h1>Nome do Produto - Modelo</h1>
                    <img src="images/img-nota-produto.png">
                    <div id="vitrine-produto-precos">
                        <p id="p-preco-antigo">R$ <span id="preco-antigo">XX,XX</span> </p>
                        <p id="p-porcentagem-deconto"> <span id="porcentagem-desconto">XX%</span> OFF</p>
                        <p id="p-preco-produto">R$ <span id="preco-produto">XX,XX</span> </p>
                    </div>
                </div>
            </a>
 
            <a href="../page-compra" class="vitrine-produto">
                <div id="vitrine-produto-img"> <img src="images/img-produto.png" alt=""> </div>
                <div id="vitrine-produto-info">
                    <h1>Nome do Produto - Modelo</h1>
                    <img src="images/img-nota-produto.png">
                    <div id="vitrine-produto-precos">
                        <p id="p-preco-antigo">R$ <span id="preco-antigo">XX,XX</span> </p>
                        <p id="p-porcentagem-deconto"> <span id="porcentagem-desconto">XX%</span> OFF</p>
                        <p id="p-preco-produto">R$ <span id="preco-produto">XX,XX</span> </p>
                    </div>
                </div>
            </a>
 
            <a href="../page-compra" class="vitrine-produto">
                <div id="vitrine-produto-img"> <img src="images/img-produto.png" alt=""> </div>
                <div id="vitrine-produto-info">
                    <h1>Nome do Produto - Modelo</h1>
                    <img src="images/img-nota-produto.png">
                    <div id="vitrine-produto-precos">
                        <p id="p-preco-antigo">R$ <span id="preco-antigo">XX,XX</span> </p>
                        <p id="p-porcentagem-deconto"> <span id="porcentagem-desconto">XX%</span> OFF</p>
                        <p id="p-preco-produto">R$ <span id="preco-produto">XX,XX</span> </p>
                    </div>
                </div>
            </a>
 
            <a href="../page-compra" class="vitrine-produto">
                <div id="vitrine-produto-img"> <img src="images/img-produto.png" alt=""> </div>
                <div id="vitrine-produto-info">
                    <h1>Nome do Produto - Modelo</h1>
                    <img src="images/img-nota-produto.png">
                    <div id="vitrine-produto-precos">
                        <p id="p-preco-antigo">R$ <span id="preco-antigo">XX,XX</span> </p>
                        <p id="p-porcentagem-deconto"> <span id="porcentagem-desconto">XX%</span> OFF</p>
                        <p id="p-preco-produto">R$ <span id="preco-produto">XX,XX</span> </p>
                    </div>
                </div>
            </a>
 
            <a href="../page-compra" class="vitrine-produto">
                <div id="vitrine-produto-img"> <img src="images/img-produto.png" alt=""> </div>
                <div id="vitrine-produto-info">
                    <h1>Nome do Produto - Modelo</h1>
                    <img src="images/img-nota-produto.png">
                    <div id="vitrine-produto-precos">
                        <p id="p-preco-antigo">R$ <span id="preco-antigo">XX,XX</span> </p>
                        <p id="p-porcentagem-deconto"> <span id="porcentagem-desconto">XX%</span> OFF</p>
                        <p id="p-preco-produto">R$ <span id="preco-produto">XX,XX</span> </p>
                    </div>
                </div>
            </a> -->

        </div>


        <button id="button-ver-mais">
            <p>CARREGAR MAIS</p>
            <hr>
            <img src="./images/arrow-down.svg">
        </button>


        <div id="black-waves"></div>

        <div id="footer-black-friday">
            <div id="footer-black-friday-content">
                <h2>BLACK FRIDAY!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lectus lorem diam.</p>
                <a href="">COMPRE AGORA</a>
            </div>

            <div id="footer-black-friday-img">
                <img src="images/img-sofa.png">
            </div>
        </div>
        
    </main>

    <div id="green-waves"></div>
    
    <footer id="footer">
        <script src="../Components/Footer/footer.js"></script>
    </footer>
</body>

</html>