<!DOCTYPE html>
<html lang=pt-BR>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCERVINO | VITRINE</title>
    <link rel="stylesheet" href="../style-global.css">
    <link rel="stylesheet" href="style-vitrine.css">
    <link rel="shortcut icon" href="../images/logo-verde.png" type="image/x-icon">
    <link rel="stylesheet" href="../Components/Header/header.css" />
</head>


<body>
    <header id="header">
        <script type="module" src="../Components/Header/header.js"></script>
    </header>


    <body>

        <div id="div-banner">
            <div id="div-banner-content">
                <h1>Decoração.</h1>
                <p>Até XX% off.</p>
            </div>
        </div>

        <div id="white-waves">
        
    </body>


    <footer id="footer">
        <!-- <script src="../Components/Footer/footer.js"></script> -->
    </footer>
</body>

</html>