/* ~ HEADER CSS SETTINGS ~ */


/* GENERAL CHANGES */
header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    color: var(--main-green);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0%;
    background-color: white;
    text-align: center;
}
header p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    text-align: center;
    border-radius: 5px;
    color: white;
}
header p:hover {
    background-color: var(--main-green);
}
header form {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 45%;
    height: 50%;
    padding: 2%;
    border: 1px solid var(--main-green);
    border-radius: 24px;
    font-family: 'Montserrat', sans-serif;
}
header form img {
    width: 6%;
}
header form input {
    width: 100%;
    margin-left: 5%;
    border: none;
    background: none;
    color: var(--main-green);
    font-size: 1.3rem;
}
header form input:focus {
    outline: none;
    border: none;
}
h1 {
    font-family: 'Lustria', serif;
    font-size: 225%;
    font-weight: normal;
    letter-spacing: 7px;
}
a {
    text-decoration: none;
    color: var(--main-green);
}
div {
    display: flex;
    align-items: center;
}


/* DIV TITLE [LOGO / TEXT] */
#div-title-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#div-title-header img {
    width: 10%;
    margin-right: 5%;
}



/* NAVIGATION [NOSSA HISTÓRIA / CATALOG / SEARCH BAR]  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 100%;
}
#ul-menu-options {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
}
#ul-menu-options li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
#li-user-options{
    display: flex;
}



/* CATALOG */
#li-catalog:hover>#ul {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}
#li-catalog {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4vh;
}
#ul {
    display: none;
    top: 6%;
    width: 175px;
    position: absolute;
    margin-left: 50px;
}
#ul-categories {
    display: flex;
    flex-direction: column;
    background-color: var(--main-green);
    list-style: none;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
}
#ul-categories li {
    border-radius: 5px;
}
#ul-categories li:hover {
    background-color: var(--main-black);
}
#ul-categories li>a {
    color: white;
    display: flex;
    align-items: center;
    padding: 5%;
}
#ul-categories li>a img {
    width: 10%;
    margin-right: 5%;
}



/* CART AND USER OPTIONS */
#ul-user-options {
    display: flex;
    align-items: center;
    width: 25%;
    margin-left: 15%;
    list-style: none;
    gap: 30%;
}

#ul-user-options img {
    height: 30px;
}
#ul-user-options li{
    display: flex;
    align-items: center;
}
#ul-user-options li:hover{
    cursor: pointer;
}
#ul-user-options-list{
    display: flex;
    flex-direction: column;
    background-color: var(--main-green);
    list-style: none;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
    color: white;
    font-family: 'Montserrat', sans-serif;
}
#ul-user-options-list li{
    padding: .5vw;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
}
#ul-user-options-list a{
    width: 100%;
    height: 100%
}
#ul-user-options-list a>img{
    width: 100%;
    height: 100%;
}
#li-user-options:hover>#ul-user-options-ul {
    display: flex;
    flex-direction: column;
}
#li-user-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4vh;
}
#ul-user-options-ul {
    display: none;
    flex-direction: column;
    margin-top: 6vh;
    width: 100%;
    position: absolute;
    margin-left: 50px;
    top: 57px;
    margin: 0;
}
#ul-user-options-list {
    display: flex;
    flex-direction: column;
    background-color: var(--main-green);
    list-style: none;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
}
#ul-user-options-list li {
    border-radius: 5px;
}
#ul-user-options-list li:hover {
    background-color: var(--main-black);
}
#ul-user-options-list li>a {
    color: white;
    display: flex;
    align-items: center;
    padding: 5%;
}
#ul-user-options-list li>a img {
    width: 10%;
    margin-right: 5%;
}
#li-triangle-user img{
    width: 1vw;
    height: 1.3vh;
    margin-left: 2.5vw;
}



/* MENU HEADER GENERAL CLASSES */
.arrow {
    width: .7vw;
    height: .7vh;
    color: var(--main-green);
    margin-left: .5vw;
}
.li-triangle{
    width: 1vw;
    height: 1vh;
}
.li-triangle img {
    width: 100%;
    height: 100%;
}





/* CSS MOBILE HEADER */

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--main-green);
    margin: 8px;
    transition: 0.3s;
}

#check {
    display: none;
}

#nav-mobile {
    display: none;
}

#menu-options-mobile {
    display: none;
}

.form-mobile {
    display: none;
}

.aumentar-tamanho-barra-pesquisa {
    display: none;
}

@media (max-width: 1260px) {
    body {
        overflow-x: hidden;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    header form {
        display: none;
    }
    #nav-list {
        display: none;
    }
    .form-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        padding: 2%;
        border: 1px solid var(--main-green);
        border-radius: 24px;
        font-family: 'Montserrat', sans-serif;
    }
    .form-mobile input {
        display: none;
    }
    .form-mobile img {
        width: 2vw;
    }
    #nav-mobile {
        display: flex;
        font-size: 70%;
        color: white;
        position: fixed;
        top: 87px;
        width: 100%;
        height: 50vh;
        left: -10000px;
        background-color: var(--main-green);
        transition: transform 5.3s ease-in-out;
    }
    .form-mobile:hover {
        cursor: pointer;
    }
    #menu-options-mobile {
        color: white;
        font-size: 30px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 40px;
        height: 60%;
    }
    #menu-options-mobile li>a {
        margin-left: 30px;
        font-family: 'Montserrat', sans-serif;
        color: white;
    }
    #ul-menu-options {
        display: none;
    }
    #li-catalog-mobile {}
    #ul-categories-mobile li {}
    #ul-categories-mobile li:hover {
        background-color: var(--main-black);
    }
    #ul-mobile {
        height: 100%;
        display: none;
        width: 25px;
        position: absolute;
    }
    #ul-categories-mobile {
        display: flex;
        flex-direction: column;
        background-color: var(--main-green);
        list-style: none;
        width: 100vw;
        height: 35vh;
        border-radius: 5px;
    }
    #ul-triangle-mobile {
        display: flex;
        width: 175px;
    }
    #li-catalog-mobile:hover>#ul-mobile {
        display: flex;
        flex-direction: column;
    }
    #ul-categories-mobile li>a img {
        width: 3%;
    }
    #ul-categories-mobile li>a {
        font-size: 20px;
    }
    #arrow-mobile {
        width: 10%;
        margin-left: 5%;
        color: white;
    }
    .mobile-menu {
        display: block;
    }
    #check:checked~nav {
        left: 0;
    }
    #ul-triangle-mobile img {
        width: 7%;
        margin-left: 7%;
    }
    #ul-user-options {
        display: none;
    }
    #div-title-header h1 {}
}

#container-categorias {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: tomato;
}

@media (max-width: 468px) {
    #div-title-header h1 {
        font-size: 110%;
    }
    #div-title-header img {
        width: 35px;
    }
}

.aumentar-tamanho-barra-pesquisa {
    display: flex;
    width: 50vw;
    height: 60%;
    padding: 2vw;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-out;
}

@media (min-width: 1260px) {
    .aumentar-tamanho-barra-pesquisa {
        display: none;
    }
}


/* @media (max-width:1400px){
    
} */