<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FONT IMPORTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lustria&family=Montserrat&display=swap" rel="stylesheet">

    <!-- CSS IMPORTS -->
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../style-global.css">

    <script src="script.js" defer></script>

    <title>Header</title>
</head>


<body>
    <header>

        <input type="checkbox" id="check">
        <label for="check" class="mobile-menu">
			<div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
		</label>


        </div>
        <a href="">
            <div id="div-title">
                <img src="./images/logo.png">
                <h1>SCERVINO</h1>
            </div>
        </a>




        <nav id="nav-list">
            <ul id="ul-menu-options">


                <li> <a href="">Nossa História</a> </li>

