<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="../../style-global.css">
</head>

<body>

    <header>
        
        <input type="checkbox" id="check">
        <label for="check" class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </label>
    
        <a href="../../page-landingPage/index.html">
            <div id="div-title-header">
                <img  src="./images/logo.png">
                <h1>SCERVINO</h1>
            </div>
        </a>
    
            <form class="form-mobile" action="" onclick="searchBar()">
                <img src="./images/search-icon.png">
                <input type="text" name="" id="" placeholder="Buscar">
            </form>
       
    
        <nav id="nav-list">

            <ul id="ul-menu-options">
                <li> <a href="../../page-our-history/">Nossa História</a> </li>
    
                <li id="li-catalog"> Catálogo <img src="./images/arrow-icon.svg" class="arrow">
                    <ul id="ul">
                        <li class="li-triangle"><img src="./images/triangle-icon.png"></li>
                        <ul id="ul-categories"></ul>
                    </ul>
                </li>
    
                <form action="">
                    <img src="./images/search-icon.png">
                    <input type="text" name="" id="" placeholder="Buscar">
                </form>
            </ul>
    


            <ul id="ul-user-options">
                <li> <a href="../../page-carrinho/"><img src="./images/cart-icon.png" alt="Carrinho"></a> </li>

                <li id="li-user-options"> <img src="./images/user-icon.png" alt="Login/Cadastrar"> <img src="./images/arrow-icon.svg" class="arrow">
                    <ul id="ul-user-options-ul">
                        <li id="li-triangle-user"><img src="./images/triangle-icon.png"></li>
                        <ul id="ul-user-options-list">
                            <li><img src="images/edit-icon.svg"><a href="../../page-cadastro/">Perfil</a></li>
                            <li><img src="images/management-icon.svg"><a href="../../page-management/">Gerenciamento</a></li>
                            <li><img src="images/login-icon.svg"><a href="../../page-login/">Login</a></li>
                            <li><img src="images/logout-icon.svg"><a href="">Sair</a></li>
                        </ul>
                    </ul>
                </li>
            </ul>

        </nav>
    




        <nav id="nav-mobile">

            <ul id="menu-options-mobile">
                <li><a href="">Nossa História</a></li>
                    
                <li id="li-catalog-mobile"><a href="">Catálogo</a> <img src="./images/arrow-icon.svg" id="arrow-mobile">
                    <ul id="ul-mobile">
                        <ul id="ul-triangle-mobile"><img src="./images/triangle-icon.png"></ul>
                        <ul id="ul-categories-mobile"></ul>
                    </ul>
                </li>
                 
                <li><a href="">Carrinho</a></li>
                <li><a href="">Login</a></li>

            </ul>
            
        </nav>

    </header>
    
</body>

</html>