<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style-global.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../Components/Header/header.css" />
    <link rel="stylesheet" href="../Components/Footer/footerManagement.css" />
    <script src="https://kit.fontawesome.com/0ceead7302.js" crossorigin="anonymous"></script>
    <script type="module" src="script.js" defer></script>
    <title>GERENCIAMENTO</title>
</head>

<body>
    <header id="header">
        <script src="../Components/Header/header.js" type="module"></script>
    </header>
    <main>
        <div class="title-container">
            <h1 class="title-page">GERENCIAMENTO</h1>
            <div class="green-line"></div>
        </div>

        <div class="creates-container">
            <a href="../page-create-category/">Adicionar categoria</a>

            <a href="../page-create-product/">Adicionar produto</a>
        </div>

        <section class="element-container" id="categories-container">
            <h2>CATEGORIAS</h2>

            <table id="category-table">
            </table>
        </section>

        <section class="element-container" id="categories-container">
            <h2>PRODUTOS</h2>

            <table id="product-table">
                <tr>
                    <td>
                        <img src="images/icone categoria.png" alt="">
                    </td>
                    <td>
                        Nome do produto
                    </td>
                    <td>
                        <a href=""><span style="color: #6EDF63;"><i class="fas fa-pen"></i></span></a>
                        <a href=""><span style="color: #F32424;"><i class="fas fa-trash"></i></span></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="images/icone categoria.png" alt="">
                    </td>
                    <td>
                        Nome do produto
                    </td>
                    <td>
                        <a href=""><span style="color: #6EDF63;"><i class="fas fa-pen"></i></span></a>
                        <a href=""><span style="color: #F32424;"><i class="fas fa-trash"></i></span></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="images/icone categoria.png" alt="">
                    </td>
                    <td>
                        Nome do produto
                    </td>
                    <td>
                        <a href=""><span style="color: #6EDF63;"><i class="fas fa-pen"></i></span></a>
                        <a href=""><span style="color: #F32424;"><i class="fas fa-trash"></i></span></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="images/icone categoria.png" alt="">
                    </td>
                    <td>
                        Nome do produto
                    </td>
                    <td>
                        <a href=""><span style="color: #6EDF63;"><i class="fas fa-pen"></i></span></a>
                        <a href=""><span style="color: #F32424;"><i class="fas fa-trash"></i></span></a>
                    </td>
                </tr>
            </table>
        </section>

    </main>
    <footer id="footer">
        <script src="../Components/Footer/footerManagement.js" type="module"></script>
    </footer>
</body>

</html>