<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SCERVINO | CADASTRO</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../style-global.css" />
    <script type="module" src="script.js" defer></script>
    <link rel="stylesheet" href="../Components/Footer/footerManagement.css" />
    <link rel="shortcut icon" href="../images/logo-verde.png" type="image/x-icon" />
</head>

<body>
    <header>
        <a href="../page-landingPage/">
            <h1 class="title">SCERVINO</h1>
            <img src="../images/logo-verde.png" />
        </a>
    </header>

    <main>
        <div id="div-info">
            <p id="info-title">Cadastrar</p>
            <hr />
            <p id="info-text">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
        </div>

        <iframe style="display: none" name="server"></iframe>
        <form target="server" action="http://localhost/ATLANTIS-SCERVINO-LTDA/Back-end/Client/" enctype="multipart/form-data" method="POST" id="form-client">
            <input type="text" name="name" id="input-name" placeholder="Nome" required />
            <input type="text" name="email" id="input-email" placeholder="E-mail" required />
            <input type="number" name="cpf" id="input-cpf" placeholder="CPF" required />
            <input type="password" name="password" id="input-password" placeholder="Senha" required />
            <input type="password" x-moz-errormessage="Por favor, especifique um endereço de e-mail." id="input-password-confirmation" placeholder="Confirma a senha" required />

            <label for="input-birth-date" id="label-foto">Data de nascimento</label>
            <input type="date" name="birthDate" id="input-birth-date" required />

            <label for="inputProfilePhoto" id="label-foto">Foto de perfil</label>
            <div class="image-field">
                <input name="profilePhoto" class="input-image" id="inputProfilePhoto" type="file" accept="image/*" />
                <label class="input-text" for="inputProfilePhoto">
                        <img src="../images/more-icon.png" id="profilePhotoPreview" />
                    </label>
            </div>

            <div id="form-options">
                <div id="div-remember-me">
                    <input type="checkbox" name="remeber-me" id="remeber-me" />
                    <label for="remeber-me">Lembrar-me</label>
                </div>

                <div id="div-account">
                    <a href="../page-login/">Já possui uma conta?</a>
                </div>
            </div>

            <button type="submit" id="button-cadastrar">Cadastrar</button>
        </form>

        <p>
            Ao se autenticar você concorda com as <a href="">Políticas de privacidade</a> e
            <a href="">Termos de serviço</a> de Scervino.
        </p>
    </main>
    <footer id="footer">
        <script src="../Components/Footer/footerManagement.js" type="module"></script>
    </footer>
</body>

</html>